<!DOCTYPE HTML>
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<style>
    body {
        font-family: "Roboto", sans-serif;
    }
</style>

<header>
    <title> Kanikervanaf: Opzegbrief </title>
</header>
<body>
    <div>
        {{ subscription_name }}<br>
        {{ subscription_address }}<br>
        {{ subscription_postal_code }}{% if subscription_residence %} {{ subscription_residence }}{% endif %}
    </div>
    <p style="text-align: right;">
        {% if residence %}{{ residence }}, {% endif %}{{ date }}
    </p>

    <p>
        Onderwerp: Opzegging abonnement<br>
        <br>
        Beste heer/mevrouw,<br>
        <br>
        Hierbij zeg ik mijn abonnement met onderstaande gegevens per eerstvolgende mogelijkheid na dagtekening op.<br>
        <ul>
            {% if firstname or lastname %}
                <li>{% if firstname %}{{ firstname }}{% endif %}{% if lastname %} {{ lastname }}{% endif %}</li>
            {% endif %}
            {% if address %}
                <li>{{ address }}</li>
            {% endif %}
            {% if postal_code or residence %}
                <li>{% if postal_code %}{{ postal_code }}{% endif %}{% if residence %} {{ residence }}{% endif %}</li>
            {% endif %}
        </ul>
        De incassomachtiging dient tegelijkertijd te worden beëindigd.<br>
        <br>
        Daarnaast verzoek ik u hierbij tevens, overeenkomstig artikel 17 AVG, over te gaan tot onmiddellijke
        verwijdering van al mijn persoonsgegevens in de zin van artikel 4(1) AVG, behoudens in de gevallen zoals opgesomd
        in artikel 17(3) AVG. Graag zie ik de bevestiging van deze opzegging en de verwijdering van mijn persoonsgegevens
        tegemoet.<br>
        <br>
        Met vriendelijke groet,
        <br>
        {{ firstname }} {{ lastname }}<br>
        <br>
        NB: Tevens wens ik gebruik te maken van mijn Recht van Verzet. Ik wil niet telefonisch benaderd worden door
        jullie en ook geen geadresseerde reclame meer van jullie ontvangen.
</body>

</html>