{% load static %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Kanikervanaf{% endblock %}
    </title>
    {% include 'kanikervanaf/analytics.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'kanikervanaf/img/favicon.ico' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'kanikervanaf/img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'kanikervanaf/css/bootstrap.css' %}"/>
    {% block styles %}{% endblock %}
    <link rel="icon" href="{% static "kanikervanaf/img/browser/icon.jpg" %}">
    <link rel="apple-touch-icon" href="{% static "kanikervanaf/img/browser/apple-touch-icon.jpg" %}">
    <meta name="msapplication-square32x32logo"
          content="{% static "kanikervanaf/img/browser/icon-smalltile.jpg" %}">
    <meta name="msapplication-square150x150logo"
          content="{% static "kanikervanaf/img/browser/icon-mediumtile.jpg" %}">
    <meta name="msapplication-wide272x182logo"
          content="{% static "kanikervanaf/img/browser/icon-widetile.jpg" %}">
    <meta name="msapplication-square300x300logo"
          content="{% static "kanikervanaf/img/browser/icon-largetile.jpg" %}">
    <meta name="keywords" content="Opzeggen, Abonnementen, Abonnement, Gratis">
    <meta name="description" content="{% block page_description %}Snel en gratis automatisch abonnementen opzeggen. Aanklikken, gegevens invoeren en versturen!{% endblock %}">
    <script src="https://kit.fontawesome.com/4e8cabe8e2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/sx4eugpieda3a9a2mjzq9xh0ht6h59prb6wgd8gd3yqcjif5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    {% block header %}
        <nav class="navbar navbar-expand-md navbar-light sticky-top site-header mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'kanikervanaf/img/logo.png' %}" height="50"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url "home" %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url "home" %}">Home</a>
                            <a class="dropdown-item" href="{% url "subscriptions:details_search" %}">Contactgegevens opzoeken</a>
                            <a class="dropdown-item" href="{% url "posts:post_overview" page=1 %}">Berichten</a>
                            <a class="dropdown-item" href="{% url "contact" %}">Contact</a>
                            <a class="dropdown-item" href="{% url "faq" %}">FAQ</a>
                            <a class="dropdown-item" href="{% url "subscriptions:request" %}">Vraag abonnement aan</a>
                        </div>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAccountMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.is_authenticated %}
                                Mijn account
                            {% else %}
                                Account
                            {% endif %}
                        </a>
                        {% if user.is_authenticated %}
                            <div class="dropdown-menu" aria-labelledby="navbarAccountMenuLink">
                                {% if user.is_staff %}
                                    <a class="dropdown-item" href="{% url "admin:index" %}">Site admin</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url "users:account" %}">Overzicht</a>
                                <a class="dropdown-item" href="{% url "users:logout" %}">Uitloggen</a>
                            </div>
                        {% else %}
                            <div class="dropdown-menu" aria-labelledby="navbarAccountMenuLink">
                                <a class="dropdown-item" href="{% url "users:login" %}">Log in</a>
                                <a class="dropdown-item" href="{% url "users:forgot" %}">Wachtwoord vergeten</a>
                            </div>
                        {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "subscriptions:overview" %}">1. Selecteer abonnementen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "users:enter" %}">2. Voer uw gegevens in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "subscriptions:summary" %}">3. Versturen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block page %}{% endblock %}
    {% block footer %}
        <footer class="page-footer font-small pt-4">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="/">kanikervanaf.nl</a> - <a href="{% url "privacy" %}">Privacybeleid</a>
            </div>
        </footer>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {%  block js %}{%  endblock %}
</body>
</html>