{% extends 'kanikervanaf/base.html' %}
{% load static %}

{% block title %}
    Kanikervanaf: Contact
{% endblock %}

{% block page_description %}
    Neem contact met ons op via onze contactgegevens of het formulier op deze pagina.
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'kanikervanaf/css/fluid-input.css' %}"/>
{% endblock %}

{% block page %}
<div class="container">
    {% if succeeded %}
        <p class="container-fluid message-ok">Uw contactbericht is verzonden!</p>
    {% elif failed %}
        <p class="container-fluid message-error">Er is iets misgegaan met het verzenden van uw contactbericht.</p>
    {% endif %}
    <h1>Contact</h1>
    <p>Heeft u vragen voor ons? Kloppen onze gegevens niet? Stel uw vraag in het feedback formulier hieronder! U kunt
        ook zelf een mail sturen naar klantenservice@kanikervanaf.nl.</p>
    <p>Wilt u een abonnement wat u mist aanvragen zodat wij het op onze site kunnen zetten, doe dit dan
        <a href="{% url "subscriptions:request" %}">hier</a>.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary mt-3" type="submit" value="Verzenden"/>
    </form>
</div>
{% endblock %}
{% block js %}
    <script>
        tinymce.init({
            selector: '#contact_content',
            skin: (window.matchMedia("(prefers-color-scheme: dark)").matches ? "oxide-dark" : ""),
            content_css: (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "")
        });
    </script>
{% endblock %}