{% extends 'kanikervanaf/base.html' %}

{% block title %}
    Kanikervanaf: Privacy beleid
{% endblock %}

{% block page_description %}
    Bekijk ons privacybeleid en neem waar nodig contact met ons op.
{% endblock %}

{% block page %}
    <div class="container">
        <h1>Privacy beleid</h1>
        <h2>Wie zijn we?</h2>

        <p>Kanikervanaf.nl is een gratis tool ontwikkeld door Prikkl B.V. De tool is echter gratis te gebruiken voor
            iedereen die dat wil!</p>
        <h2>Welke persoonlijke gegevens verzamelen we en waarom verzamelen we die?</h2>

        <h3>Cookies</h3>
        <p>Wanneer je je gegevens invult op onze site, zullen die gegevens voor maximaal één dag worden opgeslagen op
            je eigen computer. Pas als je klaar bent met alles invullen en op 'versturen' drukt om de opzegmails te
            versturen, worden jouw gegevens naar onze server gestuurd om verwerkt te worden. Dit is nodig omdat wij de
            e-mails voor jou versturen.</p>
        <p>Zodra je jouw e-mailadres hebt geverifieerd en de opzegmails definitief verstuurd zijn, verwijderen we jouw
            gegevens. Mocht je je e-mailadres niet verifiëren, dan worden jouw gegevens na 15 minuten weer verwijderd
            van onze server.</p>
        <p>Om het gebruik van de site te monitoren, maken wij ook gebruik van Google Analytics. Google Analytics plaatst
            ook een cookie op uw computer om uw bezoek te traceren, zodat wij onze functionaliteit kunnen optimaliseren.
            Google Analytics ontvangt geen persoonlijke gegevens die je invult! Je ip-adres wordt geanonimiseerd en de
            gegevens die je op onze website invult worden niet verstuurd naar Google. De anonieme gegevens die Google
            verzamelt worden maximaal 3 jaar bewaard. </p>

        <h2>Hoe lang we jouw data bewaren</h2>
        <p>De data die u op onze site invoert wordt in principe een dag op uw computer opgeslagen. Indien u op versturen
            drukt zullen deze gegevens naar onze servers worden verzonden en worden ze op onze server opgeslagen. Deze
            gegevens blijven een kwartier geldig. Als u uw mailadres heeft geverifieerd door op verifiëren te drukken
            in de verificatiemail worden uw gegevens direct van onze server verwijderd.</p>

        <h2>Account</h2>
        <p>
            Bovenstaande geldt niet als jij een account op de website hebt aangemaakt. Indien jij een account hebt
            aangemaakt worden je gebruikersnaam en e-mail adres op onze server opgeslagen.
        </p>

        <h2>Welke rechten je hebt over je data</h2>
        <p>Uiteraard kun je altijd ons verzoeken alle persoonlijke gegevens die we van je hebben te verwijderen of in
            te zien. Dit bevat geen gegevens die we verplicht moeten bewaren in verband met administratieve, wettelijke
            of beveiligingsdoeleinden.</p>

        <h2>Contactinformatie</h2>
        <p>Je kunt ons benaderen via klantenservice@kanikervanaf.nl</p>

    </div>
{% endblock %}