{% extends 'kanikervanaf/base.html' %}

{% block title %}
    Kanikervanaf: Privacybeleid
{% endblock %}

{% block page_description %}
    Bekijk ons privacybeleid en neem waar nodig contact met ons op.
{% endblock %}

{% block page %}
    <div class="container">
        <h1>Privacy beleid</h1>
    </div>
    <div class="container">
        <h2>Wie zijn we?</h2>

        <p>Kanikervanaf.nl is een gratis tool ontwikkeld door
            <a href="https://prikkl.nl" target="_blank">Prikkl B.V.</a> Prikkl B.V. is te bereiken via
            <a href="mailto:klantenservice@kanikervanaf.nl">klantenservice@kanikervanaf.nl</a>, of voor technische
        vragen via <a href="mailto:webmaster@kanikervanaf.nl">webmaster@kanikervanaf.nl</a>.</p>
    </div>
    <div class="container">
        <h2>Persoonlijke gegevens</h2>
        <p>Wanneer je je gegevens invult op onze site, zullen die gegevens voor maximaal één dag worden opgeslagen op
            je eigen computer. Pas als je klaar bent met alles invullen en op 'versturen' drukt om de opzegmails te
            versturen, worden jouw gegevens naar onze server gestuurd om verwerkt te worden. Dit is nodig omdat wij de
            e-mails voor jou versturen.</p>
        <p>Zodra je jouw e-mailadres hebt geverifieerd en de opzegmails definitief verstuurd zijn, verwijderen we jouw
            gegevens. Mocht je je e-mailadres niet verifiëren, dan worden jouw gegevens na 15 minuten weer verwijderd
            van onze server.</p>
    </div>
    <div class="container">
        <h2>Hoe lang we jouw data bewaren</h2>
        <p>De data die je op onze site invoert wordt in principe een dag op uw computer opgeslagen. Indien je op
            versturen drukt zullen deze gegevens naar onze servers worden verzonden en worden ze op onze server opgeslagen.
            Deze gegevens blijven een kwartier geldig. Als je jouw mailadres hebt geverifieerd door op verifiëren te drukken
            in de verificatiemail worden jouw gegevens direct van onze server verwijderd.</p>
    </div>
    <div class="container">
        <h2>Account</h2>
        <p>
            Voor alle gegevens die jij hebt gebruikt om een account aan te maken geldt bovenstaande informatie
            <strong>niet</strong>. Gegevens die jij hebt gebruikt om jouw account aan te maken worden op onze server
            opgeslagen. Account informatie die jij hebt ingevuld op jouw account pagina wordt ook opgeslagen op onze 
            server.
        </p>
    </div>
    <div class="container">
        <h2>Forum</h2>
        <p>
            Alle berichten en reacties op het forum worden voor onbepaalde tijd bewaard. Je kan er altijd voor kiezen
            om jouw berichten op het forum te verwijderen. Mocht je dit willen kun je een mailtje sturen naar
            <a href="mailto:klantenservice@kanikervanaf.nl">klantenservice@kanikervanaf.nl</a> of
            <a href="mailto:webmaster@kanikervanaf.nl">webmaster@kanikervanaf.nl</a>.
        </p>
    </div>
    <div class="container">
        <h2>Welke rechten je hebt over je data</h2>
        <p>Uiteraard kun je ons altijd verzoeken alle persoonlijke gegevens die we van je hebben te verwijderen of in
            te zien. Dit bevat geen gegevens die we verplicht moeten bewaren in verband met administratieve, wettelijke
            of beveiligingsdoeleinden. Je kunt een verzoek indienen tot verwijdering of inzien van jouw data via
            <a href="mailto:klantenservice@kanikervanaf.nl">klantenservice@kanikervanaf.nl</a> of
            <a href="mailto:webmaster@kanikervanaf.nl">webmaster@kanikervanaf.nl</a>.</p>
    </div>
    <div class="container">
        <h2>Google Analytics</h2>
        <p>Om het gebruik van de site te monitoren, maken wij ook gebruik van
            <a href="https://analytics.google.com/" target="_blank">Google Analytics</a>. Google Analytics plaatst
             een cookie op uw computer om uw bezoek te traceren, zodat wij onze functionaliteit kunnen optimaliseren.
            Google Analytics ontvangt geen persoonlijke gegevens die je invult. Je ip-adres wordt geanonimiseerd en de
            gegevens die je op onze website invult worden niet verstuurd naar Google. De anonieme gegevens die Google
            verzamelt worden maximaal 3 jaar bewaard.</p>
    </div>
    <div class="container">
        <h2>Autoriteit persoonsgegevens</h2>
        <p>
            Als jij denkt dat wij jouw data in een onwettige of onredelijke manier hebben gebruikt dan kun je een klacht
            indienen bij de
            <a href="https://autoriteitpersoonsgegevens.nl" target="_blank">Autoriteit Persoonsgegevens</a>. We zouden
            het echter waarderen als je eerst contact met ons zou opnemen via
            <a href="mailto:klantenservice@kanikervanaf.nl">klantenservice@kanikervanaf.nl</a> of
            <a href="mailto:webmaster@kanikervanaf.nl">webmaster@kanikervanaf.nl</a> zodat wij het probleem eerst met
            jou kunnen proberen op te lossen.
        </p>
    </div>
    <div class="container">
        <h2>Contactinformatie</h2>
        <p>Je kunt ons benaderen via <a href="mailto:klantenservice@kanikervanaf.nl">klantenservice@kanikervanaf.nl</a>,
            of voor technische vragen via <a href="mailto:webmaster@kanikervanaf.nl">webmaster@kanikervanaf.nl</a>.</p>
    </div>
{% endblock %}

