{% extends "email/email.html" %}

{% block title %}
    Verificatiemail
{% endblock %}

{% block salutation %}
    Hallo {{ firstname }}!
{% endblock %}

{% block body %}
    <div class="text" style="display: flex;flex-wrap: wrap;justify-content: center;padding: 15px;align-items: stretch;width: calc(100% - 30px);">
        <div class="flex-column" style="max-width: 400px;min-width: 300px;justify-content: space-between;padding: 5px;flex: 1;">
            <strong>Aanvraag ontvangen!</strong> <br>
            <p>We hebben je aanvraag voor opzegmails ontvangen! <br><br>

                Deze mail is bedoeld ter verificatie van dit e-mailadres, zodra dit gelukt is versturen we meteen jouw opzegmails. Door op de volgende link te klikken weten wij genoeg, en kun jij je abonnementen opzeggen:

            </p>
        </div>
    </div>

    <div class="button-container" style="padding: 15px;display: flex;justify-content: center;">
        <a href="{{ verification_url }}" class="button" style="background-color: #34af99;padding: 1em 2em;color: white;font-size: 30px;border-radius: 500px;"> Verifi&euml;er! </a>
    </div>
{% endblock %}