{% extends "sidebar.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid mb-5">
        <h3 class="mb-5"><strong>Persoonlijke gegevens</strong></h3>
        <p>
            Vul hieronder uw persoonlijke gegevens in. Wij hebben uw gegevens nodig zodat wij uw persoonlijke
            opzegmails kunnen opstellen. Uw gegevens worden pas door de server verwerkt bij het verzenden van de
            verificatiemail. Nadat u uw mailadres heeft bevestigd worden uw gegevens direct verwijderd.
        </p>
        <form>
            {% csrf_token %}
            <label for="email"><strong>Uw e-mail:</strong></label>
            <input type="email" name="email" id="email" class="container-fluid"><br>
            <label for="firstname"><strong>Voornaam:</strong></label>
            <input type="text" name="firstname" id="firstname" class="container-fluid"><br>
            <label for="lastname">Achternaam:</label>
            <input type="text" name="lastname" id="lastname" class="container-fluid"><br>
            <label for="address">Adres:</label>
            <input type="text" name="address" id="address" class="container-fluid"><br>
            <label for="postalcode">Postcode:</label>
            <input type="text" name="postalcode" id="postalcode" class="container-fluid"><br>
            <label for="residence">Plaats:</label>
            <input type="text" name="residence" id="residence" class="container-fluid"><br>
		</form>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "subscription_list.html" with next_page="subscriptions:summary" button_id="subscription-disable-button-no-details" scroller=False %}
{% endblock %}

{% block js %}
    <script src="{% static 'kanikervanaf/js/general.js' %}"></script>
    <script src="{% static 'users/js/details.js' %}"></script>
{% endblock %}