{% extends 'base.html' %}

{% block title %}
    Kanikervanaf: FAQ
{% endblock %}

{% block page_description %}
    Bekijk alle veelgestelde vragen over kanikervanaf.nl.
{% endblock %}

{% block page %}
    <div class="container">
        <h1>Frequently asked questions</h1>

        <h3>Wat is kanikervanaf.nl?</h3>

        <p>Kanikervanaf.nl is een website waar u uw abonnementen handig in één keer op kunt zeggen. U hoeft slechts de
            abonnementen te selecteren en wij doen de rest.</p>

        <h3>Is kanikervanaf.nl gratis?</h3>

        <p>Kanikervanaf.nl is volledig gratis!</p>

        <h3>Het bedrijf wat ik wil opzeggen staat niet in de lijst, wat nu?</h3>

        <p>Onze database is blijkbaar nog niet compleet! U kunt ons helpen deze uit te breiden door ons te mailen op
            info@kanikervanaf.nl met het bedrijf in kwestie.</p>

        <h3>Hoe werkt het opzeggen?</h3>

        <p>Opzeggen kan heel eenvoudig in drie stappen: u selecteert de bedrijven waarvan u de abonnementen wilt opzeggen,
            u vult uw persoonlijke gegevens in en daarna hoeft u zich alleen nog maar te verifiëren via onze
            verificatiemail.</p>

        <h3>Welke gegevens moet ik invullen?</h3>

        <p>De enige verplichte gegevens zijn uw mailadres en voornaam, maar hoe meer gegevens wij aan het bedrijf kunnen
            geven, hoe gemakkelijker het opzeggen zal verlopen. U kunt zelf kiezen welke gegevens u met ons deelt in stap
            twee.</p>

        <h3>Wat doen wij met uw gegevens?</h3>

        <p>Wij gebruiken uw gegevens om de opzegmails te maken. Uw gegevens worden verwijderd nadat uw opzegmails verzonden
            zijn.</p>
    </div>
{% endblock %}