.category-column {
    min-width: 50%;
}

.menu-link {
    padding: 5px;
    display: flex;
    align-items: center;
}

div.menu-link label {
    text-decoration: none;
    margin: 0;
    flex-grow: 1;
}

.menu-link input {
    margin-right: 5px;
}

#subscriptions-list-total {
    font-size: 32pt;
}

div.border {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.center-button {
    width: 100%;
    display: flex;
    justify-content: center;
}