.category-column {
    min-width: 50%;
}

.menu-link {
    padding: 5px;
    display: flex;
    align-items: center;
}

div.menu-link label {
    text-decoration: none;
    margin: 0;
    flex-grow: 1;
}

.menu-link input {
    margin-right: 5px;
}

.menu-link a {
    margin-right: auto;
}

#subscriptions-list-total {
    font-size: 32pt;
}

div.border {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.center-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 767px) {

    div.container-scroller {
        position: sticky;
        position: -webkit-sticky;
        display: block;
        top: 125px;
        overflow: scroll;
        max-height: 75vh;
    }
}

@media screen and (max-width: 767px) {
    .footer-copyright {
        display: none;
    }

    .page-footer {
        margin-top: 2rem;
    }
}