{% extends "kanikervanaf/sidebar.html" %}
{% load static %}

{% block title %}
    {% if subscription %}
        Kanikervanaf: Contactgegevens {{ subscription.name }}
    {% else %}
        Kanikervanaf: Contactgegevens opzoeken
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if subscription %}
        Bekijk de contactgegevens van {{ subscription.name }}.
    {% else %}
        Vind u het ook zo lastig om contactgegevens van bedrijven op te zoeken? Hier kunt u gemakkelijk en snel
        contactgegevens van bedrijven en abonnementen opzoeken.
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/categories.css' %}">
{% endblock %}

{% block content %}
    <script src="{% static 'kanikervanaf/js/general.js' %}"></script>
    <div class="container-xl mb-5">
        <h1>Contactgegevens abonnementdienst opzoeken</h1>
        <p>Contactgegevens van bedrijven die abonnementen aanbieden zijn vaak moeilijk te vinden op het internet. Dit willen
        wij veranderen! Wij maken het gemakkelijk om snel contactgegevens van bedrijven op te zoeken. Zoek hieronder naar
        een bedrijf en kijk of het bij ons in de database staat!</p>
        <div id="subscription-search">
            <input id="searchfor" type="text" maxlength="75" autocorrect="off" spellcheck="false" autocomplete="off"
       autocapitalize="off" placeholder="Zoek een abonnement..." class="container-fluid" v-on:keyup="set_timer"
           v-model="search_query" />
            <div id="selection-container-id" v-if="search_query != ''">
                <template v-if="subscriptions.length > 0">
                    <div v-for="subscription in subscriptions" class="menu-link">
                        <a :href="`{% url 'subscriptions:details_search' %}/${subscription.slug}`"><% subscription.name %></a>
                        <div class="icons">
                            <i v-if="has_price(subscription)" class='far fa-euro-sign'></i>
                            <i v-if="has_mail(subscription)" class='fas fa-at'></i>
                            <i v-if="has_letter(subscription)" class='far fa-envelope'></i>
                        </div>
                    </div>
                </template>
                <template v-else-if="subscriptions.length == 0">
                    <div class='menu-link'>
                        <p>
                            Dat abonnement is nog niet bij ons bekend! Door op de pijl te drukken kunt u doorgeven dat dit
                            abonnement nog niet in onze database staat. Wij zullen dan ons best doen om onze database aan te
                            vullen.
                        <p>
                        <a class='icons' style='cursor: pointer;' :href=`{% url 'subscriptions:request' %}?subscription=${search_query}`>
                            <i class='fas fa-arrow-right'></i>
                        </a>
                    </div>
                </template>
            </div>
        </div>
    </div>
    {% if subscription %}
        <div class="container-xl mb-5">
            <h2>{{ subscription.name }}</h2>
            {% if subscription.price %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-euro-sign"></i>
                    </div>
                    <p class="m-0">Prijs per jaar: €{{ subscription.price }}</p>
                </div>
            {% endif %}
            {% if subscription.support_email %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-at"></i>
                    </div>
                    <p class="m-0">E-mail adres klantenservice:
                        <a href="mailto:{{ subscription.support_email }}">{{ subscription.support_email }}</a>
                    </p>
                </div>
            {% endif %}
            {% if subscription.support_phone_number %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <p class="m-0">Telefoonnummer klantenservice:
                        <a href="tel:{{ subscription.support_phone_number }}">{{ subscription.support_phone_number }}</a>
                    </p>
                </div>
            {% endif %}
            {% if subscription.cancellation_number %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <p class="m-0">Opzegnummer (gratis):
                        <a href="tel:{{ subscription.cancellation_number }}">{{ subscription.cancellation_number }}</a>
                    </p>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <div class="container-fluid">
        <h2>Meest opgezegde abonnementen</h2>
        <ol>
            {% for subscription in top_subscriptions %}
                <li><a href="{% url "subscriptions:details" subscription=subscription %}">{{ subscription.name }}</a></li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block js %}
    <script>
        let subscription_details_search_vue = new Vue({
            el: '#subscription-search',
            delimiters: ['<%', '%>'],
            data: {
                subscriptions: [],
                search_query: "",
                typing_timer: null,
                loading: false,
            },
            methods: {
                set_timer() {
                    clearTimeout(this.typing_timer);
                    if (this.search_query) {
                        this.typing_timer = setTimeout(this.search, 200);
                    }
                },
                search() {
                    this.loading = true;
                    fetch(`{% url "v1:subscription_list" %}?search=${this.search_query}&page_size=5`)
                    .then(response => response.json())
                    .then(json => {
                        this.subscriptions = json.results;
                        this.loading = false;
                    });
                },
            }
        });
    </script>
{% endblock %}