{% extends 'kanikervanaf/sidebar.html' %}
{% load static %}

{% block title %}
    Kanikervanaf: Abonnementen selecteren
{% endblock %}

{% block page_description %}
    Overzicht voor alle abonnementen. Selecteer abonnementen om gratis, automatisch en snel op te zeggen.
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/categories.css' %}">
{% endblock %}
{% block content %}
    {% include "subscriptions/subscription_header.html" %}
    <div class="container-fluid mt-5">
        <div class="row">
            {% for category in categories %}
                {% if category.top|length > 0 %}
                    <div class="col-md category-column mb-3">
                        {% include 'subscriptions/subscription_one_category.html' with category=category show_more=True %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="container-scroller">
        {% include "subscriptions/subscription_list.html" with next_page="users:enter" button_id="subscription-disable-button-no-items" scroller=True %}
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'kanikervanaf/js/general.js' %}"></script>
    <script src="{% static 'subscriptions/js/categories.js' %}"></script>
{% endblock %}