{% extends "sidebar.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <h2><strong>Recente berichten</strong></h2>
        <div class="mt-3">
            {% if posts %}
                {% for post in posts %}
                    <div class="border mb-2"></div>
                    <div class="mb-2 container-fluid">
                        <h5>{{ post.title }}</h5>
                        <p>{{ post.content|striptags|truncatechars:100 }}...</p>
                        <a class="btn btn-primary" href="{% url "posts:details" id=post.id %}">Bekijk bericht</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Er zijn nog geen berichten.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <h2><strong>Bericht maken</strong></h2>
    <p>Heeft u iets wat u wilt delen met andere bezoekers? Wilt u iets voor ons achterlaten? Maak zelf
    een bericht aan!</p>
    <a class="btn btn-primary" href="{% url 'posts:post_create' %}">Bericht aanmaken</a>
{% endblock %}
{% block js %}
    <script>
        tinyMCE.init({
          selector: "#post_content"
        });
    </script>
{% endblock %}