{% extends "email/mail_base.html" %}

{% block title %}Abonnement aangevraagd{% endblock %}

{% block content %}
    <div class="flex-column" style="max-width: 400px;min-width: 300px;justify-content: space-between;padding: 5px;flex: 1;">
        <strong>Nieuw abonnement aangevraagd</strong> <br>
        <p>Een gebruiker van kanikervanaf.nl heeft een abonnement aangevraagd. Hieronder staan de gegevens die de gebruiker heeft ingevuld.
        </p>
        <strong>Naam abonnement:</strong> <br>
        <p>{{ subscription }}</p>
        <strong>Naam gebruiker:</strong> <br>
        <p>{{ name }}</p>
        <strong>E-mail adres:</strong> <br>
        <p>{{ email }}_</p>
        <strong>Extra informatie:</strong> <br>
        <p>{{ message|safe }}</p>
        </div>
{% endblock %}