{% extends "kanikervanaf/sidebar.html" %}
{% load static %}

{% block title %}
    Kanikervanaf: Account
{% endblock %}

{% block page_description %}
    Bekijk uw accountgegevens.
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/centered-container.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1><strong>Mijn account</strong></h1>
        <ul>
            <li>Gebruikersnaam: {{ user.username }}</li>
            <li>Email-adres: {{ user.email }}</li>
        </ul>
        {% for message in messages %}
            <p class="{% if message.error %}message-error{% else %}message-ok{% endif %}">{{ message.message }}</p>
        {% endfor %}
        <h3>Wachtwoord wijzigen</h3>
        <form method="POST" class="centered-form">
            {% csrf_token %}
            {{ form_password }}
            <input type="hidden" name="type" value="form_password"/>
            <input type="submit" class="btn btn-primary" value="Wachtwoord wijzigen"/>
        </form>
        <h3>Persoonlijke gegevens wijzigen</h3>
        <form method="POST" class="centered-form">
            {% csrf_token %}
            {{ form_user }}
            <input type="hidden" name="type" value="form_user"/>
            <input type="submit" class="btn btn-primary" value="Gegevens wijzigen"/>
        </form>
    </div>
{% endblock %}
{% block sidebar %}
    {% include 'users/account-sidebar.html' %}
{% endblock %}