{% extends "kanikervanaf/base.html" %}
{% load static %}

{% block title %}
    Kanikervanaf: Email bevestigen
{% endblock %}

{% block styles %}
    <link href="{% static "users/css/centered-container.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-md navbar-light sticky-top site-header mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{% static 'kanikervanaf/img/logo.png' %}" height="50"/></a>
        </div>
    </nav>
{% endblock %}

{% block page %}
    <div class="container-sm d-flex align-items-center justify-content-center">
        <div style="max-width: 400px">
            <h1>Email bevestigd</h1>
            <p class="message-ok">Uw email adres is aangepast.</p>
            <a href="{% url "home" %}"> ← Terug naar Kanikervanaf.nl</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}