{% extends "kanikervanaf/sidebar.html" %}
{% load static %}

{% block title %}
    Kanikervanaf: Uw gegevens
{% endblock %}

{% block page_description %}
    Vul uw persoonlijke informatie in zodat bedrijven uw abonnement kunnen opzeggen.
{% endblock %}

{% block content %}
    <div class="container-fluid mb-5">
        <h1 class="mb-5"><strong>Persoonlijke gegevens</strong></h1>
        <p>
            Vul hieronder uw persoonlijke gegevens in. Wij hebben uw gegevens nodig zodat wij uw persoonlijke
            opzegmails kunnen opstellen. Uw gegevens worden pas door de server verwerkt bij het verzenden van de
            verificatiemail. Nadat u uw mailadres heeft bevestigd worden uw gegevens direct verwijderd.
        </p>
        <form>
            {{ form }}
		</form>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "subscriptions/subscription_list.html" with next_page="subscriptions:summary" button_enabled="details" scroller=False %}
{% endblock %}

{% block js %}
    <script src="{% static 'subscriptions/js/general.js' %}"></script>
    <script src="{% static 'users/js/details.js' %}"></script>
{% endblock %}