{% extends "kanikervanaf/base.html" %}
{% load static %}

{% block title %}
    Kanikervanaf: Registreren
{% endblock %}

{% block styles %}
    <link href="{% static "users/css/centered-container.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-md navbar-light sticky-top site-header mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{% static 'kanikervanaf/img/logo.png' %}" height="50"/></a>
        </div>
    </nav>
{% endblock %}

{% block page %}
    <div class="container-sm d-flex align-items-center justify-content-center">
        <div style="max-width: 400px">
            <h1>Registreer</h1>
            {% if succeeded %}
                <p class="message-ok">Je account is aangemaakt</p>
            {% else %}
                <form method="POST" class="centered-form">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary"/>
                </form>
            {% endif %}
            <div class="container-fluid mb-3">
                <a class="text-center" href="{% url "users:login" %}">Inloggen</a> |
                <a class="text-center" href="{% url "users:forgot" %}">Wachtwoord vergeten</a>
            </div>
            <a href="{% url "home" %}"> ← Terug naar Kanikervanaf.nl</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}