{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kanikervanaf: Abonnement aanvragen
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'kanikervanaf/css/fluid-input.css' %}"/>
{% endblock %}

{% block page %}
<div class="container">
    {% if succeeded %}
        <p class="container-fluid message-ok">Uw aanvraag is verzonden!</p>
    {% elif failed %}
        <p class="container-fluid message-error">Er is iets misgegaan met het verzenden van uw aanvraag.</p>
    {% endif %}
    <h1>Vraag abonnement aan</h1>
    <p>Mist u een abonnement op onze website? Vraag hieronder een abonnement aan, dan plaatsen wij hem op onze site!</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="mt-3 mb-3 btn btn-primary" type="submit" value="Verzenden"/>
    </form>
    <script>
        tinymce.init({
            selector: '#request_content'
        });
    </script>
</div>
{% endblock %}