<h3>{{ category.name }}</h3>
{% if category_path %}
    {% for parent in category_path %}
        {% if forloop.first %}
            <a href="{% url "subscriptions:overview" %}">
                Start
            </a>
        {% endif %}
        >
        <a href="{% url "subscriptions:overview_category_page" id=parent.id page=1 %}">
            {{ parent.name }}
        </a>
    {% endfor %}
{% endif %}
{% if show_more %}
    <a href="{% url "subscriptions:overview_category_page"  id=category.id page=1 %}">
        Bekijk meer {{ category.name }}
    </a>
{% endif %}
{%  if category.subcategories %}
    <h5>Subcategorieën</h5>
    <ul>
        {% for subcategory in category.subcategories %}
            <li><a href="{% url "subscriptions:overview_category_page"  id=subcategory.id page=1 %}">
                {{ subcategory.name }}
            </a></li>
        {% endfor %}
    </ul>
{% endif %}
{% if pages %}
    {% for page in pages %}
        <a href="{% url 'subscriptions:overview_category_page' id=id page=page.page %}">{{ page.page_id }}</a>
    {% endfor %}
{% endif %}
{% for item in category.top %}
    <div class="menu-link">
        <input type="checkbox" class="normal-checkbox" name="checkbox-category-list"
               onchange="toggle_checkbox(this, {{ item.id }}, {{ item.price }}, '{{ item.name }}', {{ item.can_email|lower }}, {{ item.can_generate_pdf|lower }})"
               id="checkbox-{{ item.id }}"/>
        <label for="checkbox-{{ item.id }}">{{ item.name }}</label>
        <div class="icons">
            {% if item.can_email %}
                <i class="fas fa-at"></i>
            {% endif %}
            {% if item.can_generate_pdf %}
                <i class="far fa-envelope"></i>
            {% endif %}
        </div>
    </div>
{% endfor %}