{% extends "sidebar.html" %}
{% load static %}

{% block title %}
    {% if subscription %}
        Kanikervanaf: Contactgegevens {{ subscription.name }}
    {% else %}
        Kanikervanaf: Contactgegevens opzoeken
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/categories.css' %}">
{% endblock %}

{% block content %}
    <div class="container-xl mb-5">
        <h2>Contactgegevens abonnementdienst</h2>
        <p>Contactgegevens van bedrijven die abonnementen aanbieden zijn vaak moeilijk te vinden op het internet. Dit willen
        wij veranderen! Wij maken het gemakkelijk om snel contactgegevens van bedrijven op te zoeken. Zoek hieronder naar
        een bedrijf en kijk of het bij ons in de database staat!</p>
        <div>
            <input id="searchfor" type="text" maxlength="75" autocorrect="off" spellcheck="false" autocomplete="off"
               autocapitalize="off" placeholder="Zoek een abonnement..." class="container-fluid">
            <div id="selection-container-id">

            </div>
        </div>
    </div>
    {% if subscription %}
        <div class="container-xl mb-5">
            <h2>{{ subscription.name }}</h2>
            {% if subscription.price %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-euro-sign"></i>
                    </div>
                    <p class="m-0">Prijs per jaar: €{{ subscription.price }}</p>
                </div>
            {% endif %}
            {% if subscription.support_email %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-at"></i>
                    </div>
                    <p class="m-0">E-mail adres klantenservice:
                        <a href="mailto:{{ subscription.support_email }}">{{ subscription.support_email }}</a>
                    </p>
                </div>
            {% endif %}
            {% if subscription.support_phone_number %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <p class="m-0">Telefoonnummer klantenservice:
                        <a href="tel:{{ subscription.support_phone_number }}">{{ subscription.support_phone_number }}</a>
                    </p>
                </div>
            {% endif %}
            {% if subscription.cancellation_number %}
                <div class="subscription-detail">
                    <div class="subscription-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <p class="m-0">Opzegnummer (gratis):
                        <a href="tel:{{ subscription.cancellation_number }}">{{ subscription.cancellation_number }}</a>
                    </p>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <div class="container-fluid">
        <h2>Meest opgezegde abonnementen</h2>
        <ol>
            {% for subscription in top_subscriptions %}
                <li><a href="{% url "subscriptions:details" subscription=subscription %}">{{ subscription.name }}</a></li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'subscriptions/js/search-links.js' %}"></script>
    <script src="{% static 'kanikervanaf/js/general.js' %}"></script>
    <script>
        SEARCH_URL = "{% url 'subscriptions:search' %}";
    </script>
{% endblock %}